.navBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 130px;
    background-color: gray;
    height: 70px;
    overflow: hidden;
}
  
  .popDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: grey;
    width: calc(20% - 10px);
    height: auto;
    margin: 5px; 
    box-sizing: border-box; 
    border-radius: 40%;
  }
  
  .popDivContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    min-width: 500px;
  }
  
  .shopBasketBtn{
    color: black;
    background-color: transparent;
    width: auto;
    padding: 10px;
    outline: none;
  }
  
  .orderButton{
    background-color: black;
    color: white;
    size: 40px;
  }
  
  .imageContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  
  .faPlusBtn {
    margin-left: 10px; 
    background-color: transparent;
  }
  
  .h1Cont{
    text-align: center;
  }

  .popH1{
    text-align: center; 
    background-color: grey;
    display: inline-block;
    border-radius: 8px;
  }
  
  .popImg{
    width: 100px;
    height: auto; 
  }
  
  .logo {
    width: 100px;
  }