.searchTxt {
    height: 40px; 
    font-size: 16px; 
    padding: 0 10px;
    border: none;
    width: 300px;
}

.returnBtn{
    background-color: transparent;
    margin-right: 300px;
}

.searchBtn {
    height: 40px;
    background-color: black;
    color: white;
    border: none; 
    cursor: pointer;
}