body{
    background-image:
        url('./public/Images/Designer.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-family: 'Comic Sans MS', sans-serif;
}